<!DOCTYPE html>
<html lang="en">
{% extends "accueil.html" %}
{% block head %}
   <meta charset="utf-8">

	
      <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
          
            <style>
                #map {
                    position: fixed;
                    width: 100.0%;
                    height: 500px;
                    left: 0.0%;
                    top: 12.5%;
                }
            </style>
            
{% endblock head %}
<body>
{% block contenue %}
<div>
 <div class="folium-map" id="map" ></div>
 </div>

{% endblock contenue %}

</body>
{% block autocomplete %}
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
<script>    
            var bornes = {{bornes|tojson}};
            var markerClusters;
            var map = L.map(
                "map",
                {
                    center: [bornes[0].lat, bornes[0].long],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: true,
                }
            );

                  var tile_layer_f08ed29866364a00b570baf489f82975 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map);
            function initMap() {
            markerClusters = L.markerClusterGroup();
            for (borne in bornes) {
            var marker = L.marker(
                [bornes[borne].lat, bornes[borne].long]
            );    
             marker.bindPopup('<p>id:'+bornes[borne].id_borne.toString()+
             '<br>service:'+bornes[borne].service+'<br> adresse:'+
             bornes[borne].adresse+'<p>');
             markerClusters.addLayer(marker);
        }
        map.addLayer(markerClusters);
        }
          window.onload = function(){
		// Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
		initMap(); 
	    };
</script>
{% endblock autocomplete %}
</html>

