{% extends "accueil.html" %}

<body>

    {% block contenue %}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Accueil</a></li>
			<li class="active">mes infos</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">renseignement</h1>
				</header>
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">bonjour {{ current_user.pseudo }}</h3>
							{% if message %}
							<p class="text-center text-muted">{{message}} </p>
							{% else %}
							<p class="text-center text-muted">modifier votre profil </p>
							{% endif %}
							<hr>
							<form action="/modif_profil" method="post">
								<div class="top-margin">
									<label>mail </label>
									<input type="text" class="form-control" name="mail">
								</div>
								<div class="top-margin">
									<label>telephone </label>
									<input type="text" class="form-control" name="telephone">
								</div>
									<div class="row top-margin">
    									<div class="col-sm-6">
    										<label>mot de passe </label>
    										<input type="text" class="form-control" name="pass">
									</div>
									<div class="col-sm-6">
										<label>Confirmez mot de passe </label>
										<input type="text" class="form-control" name="pass2">
									</div>
								</div>

								<hr>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">valider</button>
									</div>
								</div>
							</form>
						</div>
					</div>

    {% endblock contenue %}
        {% block autocomplete %}
    <div> </div>
    {% endblock autocomplete %}
</body>
</html>